In [1]:
a = True
b = False
c = 1

In [2]:
print(a + b)
print(a + c)

1
2

In [5]:
a = 1
b = '반'

In [7]:
print(str(a) + b)

1반

In [15]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [22]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '대구'
print(location)

location[0] = '부산'
print(location)

['서울', '대전', '부산']
부산
['서울', '대구', '부산']
['부산', '대구', '부산']

In [23]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [24]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [26]:
lotto = range(8, 47)
print(lotto)
print(list(lotto))

range(8, 47)
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]

In [44]:
odd = range(2, 46, 3)
print(list(even))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45]

In [45]:
numbers = range(-18, -22, -2)
print(list(numbers))

[-18, -20]

In [47]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [48]:
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [49]:
print(my_list[3:])
print(my_list[:3])

['d', 'e']
['a', 'b', 'c']

In [50]:
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [54]:
print(my_list[::5])

['a']

In [55]:
print(1 in my_list)
print('a' in my_list)

False
True

In [56]:
print(my_list * 2)
print('a' * 5)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa

In [59]:
my_set_a = {1, 2, 3, 4, 5, 6, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9}
my_set_b = {1, 3, 5, 7, 9}

In [60]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 5, 7, 9}